<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		ng-click="closeBtn()" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">添加隐患类型</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>隐患类型名称</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="name" ng-model="hiddendanger.name" placeholder="">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>隐患阀值最高</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="hiddenMax" ng-model="hiddendanger.hiddenMax" placeholder="">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>隐患阀值最低</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="hiddenMin" ng-model="hiddendanger.hiddenMin" placeholder="">
			</div>
		</div>
<!-- 		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>报警阀值最高</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="warningMax" ng-model="hiddendanger.warningMax" placeholder="">
			</div>
			<label class="col-md-2 " style="color:red;font-size:10px">(大于隐患值)</label>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>报警阀值最低</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="warningMin" ng-model="hiddendanger.warningMin" placeholder="">
			</div>
			<label class="col-md-2 " style="color:red;font-size:10px">(小于隐患值)</label>
		</div> -->
		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>设备类型</label>
					<div class="col-md-8">
				<select   class="input-sm form-control w-sm inline v-middle" ng-model="hiddendanger.equipCategoryId"  ng-options="item.id as item.eqCategoryName for item in eqCategorys">
        			<option value="">----请选择----</option> <!-- 不加这句代码，会出现空白 -->
    			</select>
			</div>
		</div>
		
<!-- 		<div class="form-group" style="display: none;">
            <label class="col-md-2 control-label">id</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="id" ng-model="hiddendanger.id" placeholder="">
            </div>
        </div> --> 
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="closeBtn()"
		data-dismiss="modal">取消</button>
	<button type="button" class="btn btn-primary" ng-click="confirmAdd()">确认</button>
</div>
