<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		ng-click="closeBtn()" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">添加通道</h4>
</div>
<div class="modal-body">
	<!-- <form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>通道名称</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="passagewayName" ng-model="monitoringChart.passagewayName" placeholder="">
			</div>
		</div>
	</form> -->
	<table class="table b-t b-b b-light" style="table-layout:fixed">
	  <thead>
	    <tr>
	      <th>通道编号</th>
	      <th>通道名称</th>
	      <th>隐患提醒类型</th>
	      <th>操作</th>
	    </tr>
	  </thead>
	  <tbody id='passagewayBody'>
	    <tr ng-repeat='i in passagewayList' on-finish>
	      	<td class='passagewayNum'><input type="text" class="form-control" value='{{i.channel}}'></td>
	      	<td class='passagewayName'><input type="text" class="form-control" value='{{i.name}}'></td>
	      	<td class='hidedenDanger'>
				<select class="form-control" ng-model='mName[$index]'>
				    <option value = '' ng-if='mName[$index] == 0'>请选择</option>
				    <option ng-repeat="h in hiddenDanger" value="{{h.id}}">{{h.name}}</option>
				</select>
	      	</td>
	      	<td>
				<!-- <button type='button' class='btn btn-success'>确定</button> -->
				<button type='button' class='btn btn-danger'>删除</button>
	      	</td>
	    </tr>
	    
	  </tbody>
	</table>
	<button type='button' ng-click='addRoad()' class='btn btn-success btn-block'><i class='glyphicon glyphicon-plus'></i>添加通道</button>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="closeBtn()"
		data-dismiss="modal">取消</button>
	<!-- <button type="button" class="btn btn-primary" ng-click="confirmAdd()">确认</button> -->
</div>
