<!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">项目管理</h1>
</div> -->
<div controlled-rescode>
<div class="wrapper-md">  
  <form action="" class='form-inline myBox'>
    <div class="form-group">
      <label for="">省区域：</label>
      <select class="form-control blue_bg" ng-model="selected" ng-options="s.name for s in division" ng-change="c()">
        <option value = ''>请选择</option>
        <!-- <option>天津</option>
        <option>北京</option>
        <option>上海</option>
        <option>深圳</option>
        <option>杭州</option> -->
      </select>
    </div>
    <div class="form-group">
      <label for="">地市区域：</label>
      <select class="form-control blue_bg" ng-model="selected2" ng-options="sh.name for sh in selected.child" ng-change="c2()">
        <option value=''>请选择</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">县/区：</label>
      <select class="form-control blue_bg" ng-model="selected3" ng-options="x.value for x in selected2.child" ng-change="c3()">
        <option value=''>请选择</option>
      </select>
    </div>
    <div class="form-group">
		<label for="">项目名称：</label> 
		<select class="form-control blue_bg" ng-model="projectName"
		ng-options="x.projectName for x in projectss">
		<option value="">全部</option>
		<!-- 不加这句代码，会出现空白 -->
		</select>
	</div>
    <button type='button' class='btn btn-primary' ng-click="initTable()"><i class='glyphicon glyphicon-search'></i></button>
  </form>
  <div class="panel panel-default myBox">
  	<div class="panel-heading row">
    	<div class="col-sm-6 m-b-xs">
	        <select class="input-sm form-control w-sm inline v-middle" ng-change="changePageSize()" ng-model="pageSize" style="width: 65px">
	          <option value="5">5</option>
	          <option value="10">10</option>
	          <option value="20">20</option>
	          <option value="50">50</option>
	          <option value="100">100</option>
	        </select>
	      </div>
	      <div class="col-sm-6  text-right">
	      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light" style="table-layout:fixed">
        <thead>
          <tr>
            <th>设备类型</th>
            <th>项目安全负责人</th>
            <th>项目名称</th>
            <th>设备位置</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="hiddenEdit in equipments">
            <td ng-click="edit('{{hiddenEdit.deviceId}}')">{{hiddenEdit.equipmentCategory.eqCategoryName}}</td>
            <td ng-click="edit('{{hiddenEdit.deviceId}}')">{{hiddenEdit.project.safeListStr}}</td>
            <td ng-click="edit('{{hiddenEdit.deviceId}}')">{{hiddenEdit.project.projectName}}</td>
            <td ng-click="edit('{{hiddenEdit.deviceId}}')">{{hiddenEdit.equipmentPosition}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <!-- <div class="col-sm-4 hidden-xs">
          <select class="input-sm form-control w-sm inline v-middle">
            <option value="0">删除</option>
          </select>
          <button class="btn btn-sm btn-default">Apply</button>                  
        </div> -->
        <div class="col-sm-3">
          <small class="text-muted inline m-t-sm m-b-sm">showing {{start}}-{{end}} of {{total}} items</small>
        </div>
        <div class="col-sm-offset-3 col-sm-6 text-right text-center-xs" ng-if="pages.length>0">                
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li ng-if="!hasPrevious" class="disabled"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
            <li ng-if="hasPrevious"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
            <li ng-class="{true:'active'}[p==currentPage]" ng-repeat="p in pages"><a ng-click="pageTo({{p}})">{{p}}</a></li>
            <li ng-if="hasNext"><a  ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
            <li ng-if="!hasNext" class="disabled"><a  ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  
  <!-- <div class='row'>
    <div class="mPane hFull col-xs-6 col-sm-2">
      <div class="title">联系人</div>
      <div class="body">
        <p>职位：项目经理</p>
        <p>姓名：王二宝</p>
        <p>电话：18070900000</p>
      </div>
    </div>
    <div class="mPane hFull col-xs-6 col-sm-2">
      <div class="title">项目信息</div>
      <div class="body">
        <p>项目负责人：王三宝</p>
        <p>项目安全负责人：王四宝</p>
      </div>
    </div>
    <div class="mPane hFull col-xs-6 col-sm-2">
      <div class="title">设备信息</div>
      <div class="body">
        <p>名称：G001</p>
        <p>位置：国际创业中心2019</p>
      </div>
    </div>
    <div class="mPane col-xs-12 col-sm-6">
      <div class="title">具体数据</div>
      <div class="body">
        <div e-chart options="option"></div>
      </div>
    </div>
  </div> -->
</div>
</div>