# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
.idea/vcs.xml
.idea/workspace.xml
*.jar
*.iml
.idea/artifacts/
/i9-defence-parent/i9-defence-api/.settings
/i9-defence-parent/i9-defence-api/.classpath
/i9-defence-parent/i9-defence-api/.project

/i9-defence-parent/i9-defence-dao/.settings
/i9-defence-parent/i9-defence-dao/.classpath
/i9-defence-parent/i9-defence-dao/.project

/i9-defence-parent/i9-defence-mq/.settings
/i9-defence-parent/i9-defence-mq/.classpath
/i9-defence-parent/i9-defence-mq/.project

/i9-defence-parent/i9-defence-mq-libraries/.settings
/i9-defence-parent/i9-defence-mq-libraries/.classpath
/i9-defence-parent/i9-defence-mq-libraries/.project

/i9-defence-parent/i9-defence-service/.settings
/i9-defence-parent/i9-defence-service/.classpath
/i9-defence-parent/i9-defence-service/.project

/i9-defence-parent/i9-defence-socket/.settings
/i9-defence-parent/i9-defence-socket/.classpath
/i9-defence-parent/i9-defence-socket/.project

/i9-defence-parent/i9-defence-utils/.settings
/i9-defence-parent/i9-defence-utils/.classpath
/i9-defence-parent/i9-defence-utils/.project

/i9-defence-parent/.settings

/.project

