<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" th:href="@{/css/login.css}">	
</head>
<body>
	<div class='logo'><img src="images/logoBig.png" alt=""></div>
	<h1 class="title">智慧用电安全隐患监管服务系统</h1>
	<p class='smallTitle'>INTELLIGENT POWER SECURITY AND RISK MONITORING SERVICE SYSTEM</p>
	<form th:action="@{/login}" method="post" th:object="${managerLoginDto}" id="loginData">
		<input type="text" placeholder='请输入您的账号' th:field="*{username}">
		<input type="password" placeholder='请输入您的密码' th:field="*{password}">
	</form>
	<div><button type='submit' id='submitBtn'>登录</button></div>
	<div><button type='button' id='jumpPage' onclick='register()'>创建账户</button></div>
	
	<!-- <p class='mb-10' id='forgetData'><span></span></p> -->
	<p class="loginAlert mb-10" style="color: red" th:text="(${exception} == null)?'':${exception.errorMessage}"></p>
	<!-- <p>还没有一个账户？</p> -->
	
</body>
<script src="vendor/jquery/jquery.min.js"></script>
<script>
	function register() {
		window.location.href = './regist.html';
	}
    $("#submitBtn").click(function(){
        $("#loginData").submit();
    })
    $(document).keydown(function (event) {
	    if(event.keyCode == 13){
	    	$("#loginData").submit();
	    }
	});
</script>
</html>
