<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" th:href="@{/css/login.css}">	
</head>
<body>
	<div class="title">合极电器</div>
	<form th:action="@{/login}" method="post" th:object="${managerLoginDto}" id="loginData">
		<input type="text" placeholder='请输入您的账号' th:field="*{username}">
		<input type="password" placeholder='请输入您的密码' th:field="*{password}">
	</form>
	<button type='submit' id='submitBtn'>登录</button>
	<!-- <p class='mb-10' id='forgetData'><span></span></p> -->
	<p class="loginAlert mb-10" style="color: red" th:text="(${exception} == null)?'':${exception.errorMessage}"></p>
	<!-- <p>还没有一个账户？</p> -->
	<button type='button' id='jumpPage' onclick='register()'>创建账户</button>
</body>
<script src="vendor/jquery/jquery.min.js"></script>
<script>
	function register() {
		window.location.href = './regist.html';
	}
    $("#submitBtn").click(function(){
        $("#loginData").submit();
    })
</script>
</html>
