<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		ng-click="closeBtn()" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">隐患处理</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>处理详情</label>
			<div class="col-md-8">
				<textarea name="" id="" cols="10" rows="5" class="form-control" ng-model="alarmProcessing.processingInfo" placeholder='请输入处理详情'></textarea>
			</div>
		</div>
		
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="closeBtn()"
		data-dismiss="modal">取消</button>
	<button type="button" class="btn btn-primary" ng-click="confirmAdd()">确认</button>
</div>
