<#include "header.html">
<div id="rightContent">
    <a class="toggle-btn" id="nimei">
        <i class="glyphicon glyphicon-align-justify"></i>
    </a>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="stud">
            <div class="check-div form-inline">
                <div class="col-xs-5">
                    <span style="font-weight: bold; font-size: 15px">${deviceInfo.deviceName}（${deviceInfo.deviceId}）</span>
                </div>
            </div>
            <div class="data-div">
                <div class="row tableHeader">
                    <div class="col-xs-2 " style="padding-left: 20px;">
                        楼层
                    </div>
                    <div class="col-xs-3" style="padding-left: 20px;">
                        区域
                    </div>
                    <div class="col-xs-2" style="padding-left: 2px;">
                        座位数
                    </div>
                    <div class="col-xs-2">
                        空余座位
                    </div>
                    <div class="col-xs-3">
                        操作
                    </div>
                </div>
                <div class="tablebody">

                    <div class="sitTable">
                        <table class="table  table-responsive">
                            <tr>
                                <td valign="middle" class="col-xs-2" rowspan="3">图书馆第一层</td>
                                <td class="col-xs-3">第一自习室</td>
                                <td class="col-xs-2">2</td>
                                <td class="col-xs-2" style="padding-left: 40px!important;">3</td>
                                <td class="col-xs-3" style="padding-left: 50px!important;">
                                    <a class="linkCcc" href="#sitDetail" aria-controls="char" role="tab"
                                       data-toggle="tab">座位信息</a>
                                    <a class="linkCcc" href="#time" aria-controls="char" role="tab" data-toggle="tab">时间段设置</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-3">第一自习室</td>
                                <td class="col-xs-2">2</td>
                                <td class="col-xs-2" style="padding-left: 40px!important;">3</td>
                                <td class="col-xs-3" style="padding-left: 50px!important;">
                                    <a class="linkCcc" href="#sitDetail" aria-controls="char" role="tab"
                                       data-toggle="tab">座位信息</a>
                                    <a class="linkCcc" href="#time" aria-controls="char" role="tab" data-toggle="tab">时间段设置</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-3">第一自习室</td>
                                <td class="col-xs-2">2</td>
                                <td class="col-xs-2" style="padding-left: 40px!important;">3</td>
                                <td class="col-xs-3" style="padding-left: 50px!important;">
                                    <a class="linkCcc" href="#sitDetail" aria-controls="char" role="tab"
                                       data-toggle="tab">座位信息</a>
                                    <a class="linkCcc" href="#time" aria-controls="char" role="tab" data-toggle="tab">时间段设置</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#include "footer.html">