<!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">账户管理</h1>
</div> -->
<div controlled-rescode>
<div class="wrapper-md">  
  <div class="panel panel-default">
    <div class="panel-heading">
        <button class="btn m-b-xs w-sm btn-success btn-rounded account_add" ng-click="add()">新增项目账户</button>
        <button class="btn m-b-xs w-xs btn-danger btn-rounded account_del" ng-click="del()">删除</button>
    </div>
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">
        <select class="input-sm form-control w-sm inline v-middle" ng-change="changePageSize()" ng-model="pageSize" style="width: 65px">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="col-sm-4 form-inline">
      	<label>用户类型: </label>
		<select ng-model='selectRoleName' ng-change="search()" class='form-control'>
			<option value="">-- 请选择 --</option>
			<option ng-repeat='i in roles' value="{{i.name}}">{{i.name}}</option>
		</select>
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="input-sm form-control" ng-change="search()" ng-model="searchText" placeholder="输入“地域”模糊查询"/>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light" style="table-layout:fixed">
        <thead>
          <tr>
            <th style="width:20px;">
              <label class="i-checks m-b-none" id="checkLabel">
                <input type="checkbox" id="totalCheck"><i></i>
              </label>
            </th>
            <th>注册时间</th>
            <th>用户名</th>
            <th>账户名称</th>
            <th>账户类型</th>
            <th>地域</th>
            <th>联系方式</th>
            <th>地址</th>
            <th>Email</th>
            <th>项目名称</th>
            <th>项目安全责任人</th>
            <th>开关</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="account in accounts">
            <td><label class="i-checks m-b-none"><input class="o-checks" data-id="{{account.id}}" type="checkbox" name="post[]" ng-disabled><i></i></label></td>
            <td>{{account.createTimeStr}}</td>
            <td>{{account.username}}</td>
            <td>{{account.name}}</td>
            <td>{{account.role.name}}</td>
            <td>{{account.area}}</td>
            <td>{{account.phone}}</td>
            <td>{{account.address}}</td>
            <td style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">{{account.email}}</td>
            <td ng-if="account.projectName != null">{{account.projectName}}</td>
            <td ng-if="account.projectName == null"></td>
            <td ng-if="account.securitier==null"></td>
            <td ng-if="account.securitier==0">否</td>
            <td ng-if="account.securitier==1">是</td>
            <td ng-if="account.status==0">
            	<label class="i-switch m-t-xs m-r">
	              <input ng-click="changeStatus({{account.id}},{{account.status}})" type="checkbox"/>
	              <i></i>
            	</label>
            </td>
            <td ng-if="account.status==1">
             	<label class="i-switch m-t-xs m-r">
	              <input ng-click="changeStatus({{account.id}},{{account.status}})" type="checkbox" checked/>
	              <i></i>
            	</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <!-- <div class="col-sm-4 hidden-xs">
          <select class="input-sm form-control w-sm inline v-middle">
            <option value="0">删除</option>
          </select>
          <button class="btn btn-sm btn-default">Apply</button>                  
        </div> -->
        <div class="col-sm-4">
          <small class="text-muted inline m-t-sm m-b-sm">showing {{start}}-{{end}} of {{total}} items</small>
        </div>
        <div class="col-sm-offset-4 col-sm-4 text-right text-center-xs" ng-if="pages.length>0">                
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li ng-if="!hasPrevious" class="disabled"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
            <li ng-if="hasPrevious"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
            <li ng-class="{true:'active'}[p==currentPage]" ng-repeat="p in pages"><a ng-click="pageTo({{p}})">{{p}}</a></li>
            <li ng-if="hasNext"><a  ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
            <li ng-if="!hasNext" class="disabled"><a  ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
</div>
<script>
$("#checkLabel").click(function(){
    if($("#totalCheck").prop("checked") == true){
        $(".o-checks").prop("checked",true);
    }else{
        $(".o-checks").prop("checked",false);
    }
    
})
</script>