<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		ng-click="closeBtn()" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">添加账户</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>用户名</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="username" ng-model="account.username" placeholder="">
			</div>
		</div>
		<div class="form-group">
            <label class="col-md-2 control-label"><span class="required">*</span>密码</label>
            <div class="col-md-8">
                <input type="password" class="form-control" id="password" ng-model="account.password" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"><span class="required">*</span>确认密码</label>
            <div class="col-md-8">
                <input type="password" class="form-control" id="confirmPwd" ng-model="account.confirmPwd" placeholder="">
            </div>
        </div>
		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>账户名称</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="name" ng-model="account.name" placeholder="">
			</div>
		</div>
		<div class="form-group">
            <label class="col-md-2 control-label"><span class="required">*</span>手机号</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="phone" ng-model="account.phone" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"><span class="required">*</span>Email</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="email" ng-model="account.email" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"><span class="required">*</span>地域</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="area" ng-model="account.area" placeholder="">
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-2 control-label"><span class="required">*</span>地址</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="address" ng-model="account.address" placeholder="">
            </div>
        </div>
		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>账户类型</label>
			<div class="col-md-8">
				<select class="form-control" ng-model="account.role.name">
				    <option value="{{role}}" ng-repeat="role in roles">{{role}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
            <label class="col-md-2 control-label"><span class="required">*</span>项目</label>
            <div class="col-md-8">
                <select class="form-control" ng-model="account.projectId">
                    <option value="{{project.id}}" ng-repeat="project in projects">{{project.projectName}}</option>
                </select>
            </div>
        </div>
		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>项目安全责任人</label>
			<div class="col-sm-8">
	            <label class="checkbox-inline i-checks">
	              <input type="radio" name="aa" ng-model="account.securitier" value="1"><i></i> 是
	            </label>
	            <label class="checkbox-inline i-checks">
	              <input type="radio" name="aa" ng-model="account.securitier" value="0"><i></i> 否
	            </label>
            </div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="closeBtn()"
		data-dismiss="modal">取消</button>
	<button type="button" class="btn btn-primary" ng-click="confirmAdd()">确认</button>
</div>
