<div controlled-rescode>
<div class="wrapper-md">  
  <form action="" class='form-inline myBox'> 
    <div class="form-group">
      <label for="">省区域：</label>
      <select class="form-control blue_bg" ng-model="selected" ng-options="s.name for s in division" ng-change="c()">
        <option value = ''>请选择</option>
        <!-- <option>天津</option>
        <option>北京</option>
        <option>上海</option>
        <option>深圳</option>
        <option>杭州</option> -->
      </select>
    </div>
    <div class="form-group">
      <label for="">地市区域：</label>
      <select class="form-control blue_bg" ng-model="selected2" ng-options="sh.name for sh in selected.child" ng-change="c2()">
        <option value=''>请选择</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">县/区：</label>
      <select class="form-control blue_bg" ng-model="selected3" ng-options="x.value for x in selected2.child" ng-change="c3()">
        <option value=''>请选择</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">项目名称：</label>
      <select class="form-control blue_bg" ng-model="projectId" ng-options="x.id as x.projectName for x in projectss">
        <option value=''>全部</option>
      </select>
    </div>
    <button type='button' class='btn btn-primary' ng-click='subSearch()'><i class='glyphicon glyphicon-search'></i></button>
  </form>
  <div class="myBox">
      <div class="row">
        <div class="col-md-4">
          <i class='glyphicon glyphicon-map-marker'></i>&nbsp;地点:<span ng-if='equipment'>{{equipment.projectLocation}}</span><i class='ml-10 glyphicon glyphicon-hdd'></i>&nbsp;项目名称:{{equipment.projectName}}
        </div>
        <div class="col-md-4 text-right">
          <p><span class='mr-10'>总数:{{totalCount.total}}</span><span class='mr-10'>报警:{{totalCount.alert}}</span><span class='mr-10'>隐患:{{totalCount.fault}}</span>离线:{{totalCount.offline}}</p>
        </div>
        <div class="col-md-4 text-right">
          实时监控设备状态：
          <span class='mLabel sm-mLabel dangerLabel'>报警</span>
          <span class='mLabel sm-mLabel faultLabel'>隐患</span>
          <span class='mLabel sm-mLabel lineOutLabel'>离线</span>
          <span class='mLabel sm-mLabel'>正常</span>
        </div>
      </div>
      <div class='monitoring'>
          <div class="faultType" id='faultType'>
            <div class="item " ng-class="{true:'active'}[type==0]" ng-click='changeType(0)'>
              <div class="name">所有设备</div>
               <div class="body">{{serchEqNums}}</div>
            </div> 
            <div class="item " ng-class="{true:'active'}[type==i.eqCategoryId]" ng-click='changeType(i.eqCategoryId)' ng-repeat='i in serchEqCategory'>
              <div class="name">{{i.eqCategoryName}}</div>
               <div class="body">{{i.eqNum}}</div>
            </div>
          </div>
          <div class="equipmentData" id='equipmentData'>
            <span class="mLabel {{i.status}}" ng-click='checkItem(i.id)' ng-repeat='i in projects'>{{i.equipmentRemarks}}</span>
          </div>
      </div>
  </div>
  <div class='row'>
    <div class="mPane hFull col-xs-6 col-sm-2">
      <div class="title">项目信息</div>
      <div class="body">
        <p>负责人：{{equipment.clientName}}</p>
        <p>负责人电话：{{equipment.clientPhone}}</p>
        <p>安全负责人：{{equipment.safeName}}</p>
        <p>安全负责人电话：{{equipment.safePhone}}</p>
      </div>
    </div>
    <div class="mPane hFull col-xs-6 col-sm-2">
      <div class="title">设备信息</div>
      <div class="body">
        <p>种类：{{equipment.equipmentCategoryName}}</p>
        <p>地址：{{equipment.equipmentPosition}}</p>
        <p>设备位置：{{equipment.equipmentRemarks}}</p>
        <p>注册时间：{{equipment.dateString}}</p>
      </div>
    </div>
    <div class="mPane col-xs-12 col-sm-8">
      <div class="title clearify">
        具体数据
        <div class='pull-right form-inline'>
          <div class="form-group">
            <label for="">通道选择:</label>
            <select name="" id="" class='form-control blue_bg' ng-change='changeLine()' ng-model="passageway" ng-options="x as y for (x, y) in equipmentCheckArr">
              <!-- <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option> -->
            </select>
            <label for="">登记时间:</label>
            <div class="input-group" ng-controller="DatepickerDemoCtrl">
              <input type="text" id="startTime" class='form-control blue_bg' disabled datepicker-popup="{{format}}" ng-model="startTime" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭">
              <div class="input-group-addon" ng-click="open($event)"><i class='glyphicon glyphicon-calendar'></i></div>
            </div>
            <label for="">-</label>
            <select name="" id="hour" class='form-control blue_bg'>
              <option value="24">全部</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
            </select>
          </div>
          <button type='button' class='btn btn-primary' ng-click='passagewayInit()'><i class='glyphicon glyphicon-search'></i></button>
        </div>
      </div>
      <div class="body" ng-if="chartsStatus">
        <div e-chart options="option"></div>
      </div>
    </div>
  </div>
</div>
</div>