<div controlled-rescode>
<div class="wrapper-md">  
  <form action="" class='form-inline myBox'> 
    <div class="form-group">
      <label for="">省区域：</label>
      <select class="form-control blue_bg" ng-model="selected" ng-options="s.name for s in division" ng-change="c()">
        <option value = ''>请选择</option>
        <!-- <option>天津</option>
        <option>北京</option>
        <option>上海</option>
        <option>深圳</option>
        <option>杭州</option> -->
      </select>
    </div>
    <div class="form-group">
      <label for="">地市区域：</label>
      <select class="form-control blue_bg" ng-model="selected2" ng-options="sh.name for sh in selected.child" ng-change="c2()">
        <option value=''>请选择</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">县/区：</label>
      <select class="form-control blue_bg" ng-model="selected3" ng-options="x.value for x in selected2.child" ng-change="c3()">
        <option value=''>请选择</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">项目名称：</label>
      <select class="form-control blue_bg" ng-model="projectName" ng-options="x.projectName for x in projectss">
        <option value=''>全部</option>
      </select>
    </div>
    <button type='button' class='btn btn-primary' ng-click='subSearch()'><i class='glyphicon glyphicon-search'></i></button>
  </form>
  <div class="myBox">
      <div class="row">
        <div class="col-md-4">
          <i class='glyphicon glyphicon-map-marker'></i>&nbsp;地点:天津华苑产业园区华天道2号国创中心
        </div>
        <div class="col-md-4 text-right">
          <p><span class='mr-10'><i class='mIcon icon-danger'></i>报警:{{warningCount}}</span><i class='mIcon icon-fault'></i>隐患:{{hiddenCount}}</p>
        </div>
        <div class="col-md-4 text-right">
          实时监控设备状态：
          <span class='mLabel sm-mLabel dangerLabel'>报警</span>
          <span class='mLabel sm-mLabel faultLabel'>隐患</span>
          <span class='mLabel sm-mLabel'>正常</span>
        </div>
      </div>
      <div class='monitoring'>
          <div class="faultType">
            <div class="item active " ng-class="{true:'active'}[type==i.id]" ng-click='changeType(i.id)' ng-repeat='i in serchEqCategory'>
              <div class="name">{{i.eqCategoryName}}</div>
              <div class="body">{{i.eqCategoryId}}</div>
            </div>
          </div>
          <div class="equipmentData">
            <span class="mLabel {{i.status}}" ng-click='checkItem(i.id)' ng-repeat='i in projects'>{{i.equipmentName}}</span>
          </div>
      </div>
  </div>
  <div class='row'>
    <div class="mPane hFull col-xs-6 col-sm-2">
      <div class="title">项目信息</div>
      <div class="body">
        <p>项目名称：{{projectInfo.project.name}}</p>
        <p>项目负责人：{{projectInfo.project.manager}}</p>
        <p>项目安全负责人：{{projectInfo.project.safeManager}}</p>
      </div>
    </div>
    <div class="mPane hFull col-xs-6 col-sm-2">
      <div class="title">设备信息</div>
      <div class="body">
        <p>名称：{{projectInfo.equip.name}}</p>
        <p>位置：{{projectInfo.equip.location}}</p>
      </div>
    </div>
    <div class="mPane col-xs-12 col-sm-8">
      <div class="title clearify">
        具体数据
        <div class='pull-right form-inline'>
          <button type='button' class='btn btn-success' ng-click='add()'>通道设置</button>
          <div class="form-group">
            <label for="">登记时间:</label>
            <div class="input-group" ng-controller="DatepickerDemoCtrl">
              <input type="text" class='form-control blue_bg' disabled datepicker-popup="{{format}}" ng-change='changeTime()' ng-model="startTime" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭">
              <div class="input-group-addon" ng-click="open($event)"><i class='glyphicon glyphicon-calendar'></i></div>
            </div>
            <label for="">-</label>
            <div class="input-group" ng-controller="DatepickerDemoCtrl">
              <input type="text" class='form-control blue_bg' disabled datepicker-popup="{{format}}" ng-change='changeTime()' ng-model="endTime" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭">
              <div class="input-group-addon" ng-click="open($event)"><i class='glyphicon glyphicon-calendar'></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="body" ng-show=chartsStatus>
        <div e-chart options="option"></div>
      </div>
    </div>
  </div>
</div>
</div>