<!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">项目管理</h1>
</div> -->
<div controlled-rescode>
<div class="wrapper-md">  
  <form action="" class='form-inline myBox'>
    <div class="form-group">
      <label for="">省区域：</label>
      <select class="form-control blue_bg" ng-model="selected" ng-options="s.name for s in division" ng-change="c()">
        <option value = ''>请选择</option>
        <!-- <option>天津</option>
        <option>北京</option>
        <option>上海</option>
        <option>深圳</option>
        <option>杭州</option> -->
      </select>
    </div>
    <div class="form-group">
      <label for="" class='control-label'>地市区域：</label>
      <select class="form-control blue_bg" ng-model="selected2" ng-options="sh.name for sh in selected.child" ng-change="c2()">
        <option value=''>请选择</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">县/区：</label>
      <select class="form-control blue_bg" ng-model="selected3" ng-options="x.value for x in selected2.child" ng-change="c3()">
        <option value=''>请选择</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">项目名称：</label>
      <select class="form-control blue_bg" ng-model="projectName" ng-options="x.projectName for x in projectss">
        <option value=''>全部</option>
        <!-- <option>国际创业中心</option>
        <option>海泰发展六道</option>
        <option>C项目</option>
        <option>D项目</option>
        <option>E项目</option> -->
      </select>
    </div>
    <button type='button' class='btn btn-primary' ng-click='subSearch()'><i class='glyphicon glyphicon-search'></i></button>
  </form>
  <div class="myBox">
    <div class="table-responsive" style='min-height:350px'>
      <table id='myTable' class="table table-striped b-t b-b b-light" style="table-layout:fixed">
        <thead>
          <tr>
          	<th width='150px'>设备分类</th>
            <th width='150px'>设备地址</th>
            <th width='150px'>设备备注</th>
            <th width='100px'>项目名称</th>
            <th width='100px'>状态</th>
            <th>最新数据</th>
          </tr>
        </thead>
        <tbody id='myTableBody'>
          <tr ng-repeat="project in projects" ng-click='checkItem(project.id)'>
           	<td>{{project.eqCategoryName}}</td>
            <td>{{project.equipmentPosition}}</td>
            <td>{{project.equipmentRemarks}}</td>
            <td>{{project.projectName}}</td>
            <td class='eventType'><span  class='{{project.status}}'>{{project.statusText}}</span></td>
            <td>
              <span class='passageway' ng-repeat="i in project.eqChannelDataList">{{i.channelName}}:{{i.channelValue}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <small class="text-muted inline m-t-sm m-b-sm">共 {{total}} 条数据 </small>
      </div>
      <div class="col-xs-8 text-right text-center-xs" ng-if="pages.length>0">                
        <!-- <ul class="pagination pagination-sm m-t-none m-b-none">
          <li><a href><i class="fa fa-chevron-left"></i></a></li>
          <li><a href>1</a></li>
          <li><a href>2</a></li>
          <li><a href>3</a></li>
          <li><a href>4</a></li>
          <li><a href>5</a></li>
          <li><a href><i class="fa fa-chevron-right"></i></a></li>
        </ul> -->
        <ul class="pagination pagination-sm m-t-none m-b-none">
          <li ng-if="!hasPrevious" class="disabled"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
          <li ng-if="hasPrevious"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
          <li ng-class="{true:'active'}[p==currentPage]" ng-repeat="p in pages"><a ng-click="pageTo({{p}})">{{p}}</a></li>
          <li ng-if="hasNext"><a  ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
          <li ng-if="!hasNext" class="disabled"><a  ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="mPane hFull col-xs-6 col-sm-2">
      <div class="title">项目信息</div>
      <div class="body">
        <!-- <p>项目名称：{{projectInfo.project.name}}</p> -->
        <p>负责人：{{equipment.clientName}}</p>
        <p>负责人电话：{{equipment.clientPhone}}</p>
        <p>安全负责人：{{equipment.safeName}}</p>
        <p>安全负责人电话：{{equipment.safePhone}}</p>
      </div>
    </div>
    <div class="mPane hFull col-xs-6 col-sm-2">
      <div class="title">设备信息</div>
      <div class="body">
        <p>种类：{{equipment.equipmentCategoryName}}</p>
        <p>地址：{{equipment.equipmentPosition}}</p>
        <p>备注：{{equipment.equipmentRemarks}}</p>
        <p>注册时间：{{equipment.dateString}}</p>
      </div>
    </div>
    <div class="mPane col-xs-12 col-sm-8">
      <div class="title clearify">
        具体数据
        <div class='pull-right form-inline'>
          <div class="form-group">
            <label for="">通道选择:</label>
            <select name="" id="" class='form-control blue_bg' ng-change='changeLine()' ng-model="passageway" ng-options="x as y for (x, y) in equipmentCheckArr">
              <!-- <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option> -->
            </select>
            <label for="">登记时间:</label>
            <div class="input-group" ng-controller="DatepickerDemoCtrl">
              <input type="text"  id="startTime" class='form-control blue_bg' disabled datepicker-popup="{{format}}" ng-change='changeTime()' ng-model="startTime" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭">
              <div class="input-group-addon" ng-click="open($event)"><i class='glyphicon glyphicon-calendar'></i></div>
            </div>
            <label for="">-</label>
            <select name="" id="" class='form-control blue_bg'>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
            </select>
          </div>
          <button type='button' class='btn btn-primary' ng-click='passagewayInit()'><i class='glyphicon glyphicon-search'></i></button>
        </div>
      </div>
      <div class="body" ng-show=chartsStatus>
        <div e-chart options="option"></div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
$("#checkLabel").click(function(){
    if($("#totalCheck").prop("checked") == true){
        $(".o-checks").prop("checked",true);
    }else{
        $(".o-checks").prop("checked",false);
    }
    
})
</script>