<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">项目管理</h1>
</div>
<div controlled-rescode>
<div class="wrapper-md">  
  <form action="" class='form-inline myBox'>
    <div class="form-group">
      <label for="">设备类型：</label>
      <select class="form-control blue_bg">
        <option>天津</option>
        <option>北京</option>
        <option>上海</option>
        <option>深圳</option>
        <option>杭州</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">登记时间:</label>
      <div class="input-group">
        <input type="text" class='form-control blue_bg' disabled>
        <div class="input-group-addon"><i class='glyphicon glyphicon-calendar'></i></div>
      </div>
      <label for="">-</label>
      <div class="input-group">
        <input type="text" class='form-control blue_bg' disabled>
        <div class="input-group-addon"><i class='glyphicon glyphicon-calendar'></i></div>
      </div>
    </div>  
    <div class="form-group">
      <label for="">经销商：</label>
      <select class="form-control blue_bg">
        <option>A经销商</option>
        <option>B经销商</option>
        <option>C经销商</option>
        <option>D经销商</option>
        <option>E经销商</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">项目名称：</label>
      <select class="form-control blue_bg">
        <option>国际创业中心</option>
        <option>海泰发展六道</option>
        <option>C项目</option>
        <option>D项目</option>
        <option>E项目</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">省区域：</label>
      <select class="form-control blue_bg">
        <option>天津</option>
        <option>北京</option>
        <option>上海</option>
        <option>深圳</option>
        <option>杭州</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">地市区域：</label>
      <select class="form-control blue_bg">
        <option>天津</option>
        <option>保定</option>
        <option>石家庄</option>
        <option>北京</option>
        <option>厦门</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">县/区：</label>
      <select class="form-control blue_bg">
        <option>南开</option>
        <option>西青</option>
        <option>河西</option>
        <option>和平</option>
      </select>
    </div>
    <button type='button' class='btn btn-primary'><i class='glyphicon glyphicon-search'></i></button>
  </form>
  <div class="panel panel-default">
    <div class="panel-heading text-right">
        <button class="btn m-b-xs w-xs btn-success proj_add" ng-click="add()">新增</button>
        <button class="btn m-b-xs w-xs btn-danger del_proj" ng-click="del()">删除</button>
        <button class="btn m-b-xs w-xs btn-warning invite_code" ng-click="shareCode()">邀请码</button>
    </div>
    
    <div class="table-responsive">
      <table class="table table-striped b-t b-light" style="table-layout:fixed">
        <thead>
          <tr>
            <th style="width:20px;">
              <label class="i-checks m-b-none" id="checkLabel">
                <input type="checkbox" id="totalCheck"><i></i>
              </label>
            </th>
            <th>项目名称</th>
            <th>项目地址</th>
            <th>坐标-经度</th>
            <th>坐标-纬度</th>
            <th>项目创建日期</th>
            <th>建筑面积</th>
            <th>备注</th>
            <th>开关</th>
            <th>负责人</th>
            <th>经销商</th>
            <th>安全责任人</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="project in projects">
            <td><label class="i-checks m-b-none"><input class="o-checks" data-id="{{project.id}}" type="checkbox" name="post[]" ng-disabled><i></i></label></td>
            <td>{{project.projectName}}</td>
            <td>{{project.projectAddress}}</td>
            <td>{{project.projectLongitude}}</td>
            <td>{{project.projectLatitude}}</td>
            <td>{{project.projectDateStr}}</td>
            <td>{{project.projectArea}}</td>
            <td>{{project.remarks}}</td>
            <td ng-if="project.projectState==0">
            	<label class="i-switch m-t-xs m-r">
	              <input ng-click="changeStatus({{project.id}},{{project.projectState}})" type="checkbox"/>
	              <i></i>
            	</label>
            </td>
            <td ng-if="project.projectState==1">
             	<label class="i-switch m-t-xs m-r">
	              <input ng-click="changeStatus({{project.id}},{{project.projectState}})" type="checkbox" checked/>
	              <i></i>
            	</label>
            </td>
            <td>{{project.dutyMan.name}}</td>
            <td>{{project.distributor.username}}</td>
            <td>{{project.safetyMan.username}}</td>
            <td><i class='glyphicon glyphicon-edit' data-id="{{project.id}}" data-distributorId="{{project.distributorId}}" ng-click="edit($event)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">
        <select class="blue_bg form-control w-sm inline v-middle" ng-change="changePageSize()" ng-model="pageSize">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="col-xs-7 text-right text-center-xs">                
        <ul class="pagination pagination-sm m-t-none m-b-none">
          <li><a href><i class="fa fa-chevron-left"></i></a></li>
          <li><a href>1</a></li>
          <li><a href>2</a></li>
          <li><a href>3</a></li>
          <li><a href>4</a></li>
          <li><a href>5</a></li>
          <li><a href><i class="fa fa-chevron-right"></i></a></li>
        </ul>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <!-- <div class="col-sm-4 hidden-xs">
          <select class="input-sm form-control w-sm inline v-middle">
            <option value="0">删除</option>
          </select>
          <button class="btn btn-sm btn-default">Apply</button>                  
        </div> -->
        <div class="col-sm-4">
          <small class="text-muted inline m-t-sm m-b-sm">showing {{start}}-{{end}} of {{total}} items</small>
        </div>
        <div class="col-sm-offset-4 col-sm-4 text-right text-center-xs" ng-if="pages.length>0">                
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li ng-if="!hasPrevious" class="disabled"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
            <li ng-if="hasPrevious"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
            <li ng-class="{true:'active'}[p==currentPage]" ng-repeat="p in pages"><a ng-click="pageTo({{p}})">{{p}}</a></li>
            <li ng-if="hasNext"><a  ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
            <li ng-if="!hasNext" class="disabled"><a  ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
</div>
<script>
$("#checkLabel").click(function(){
    if($("#totalCheck").prop("checked") == true){
        $(".o-checks").prop("checked",true);
    }else{
        $(".o-checks").prop("checked",false);
    }
    
})
</script>