<div id='selfMain'>
    <!-- <div id="selfMap">
    </div> -->
    <gaode-map options="mapOptions"></gaode-map>
    <div id='projectList' style="height: 100%">
        <div class="projectTitle">
            <select class="form-control blue_bg areaItem" ng-model="selected" ng-options="s.name for s in division" ng-change="c()">
              <option value=''>请选择</option>
            </select>
            <select class="form-control blue_bg areaItem"  ng-model="selected2" ng-options="sh.name for sh in selected.child" ng-change="c2()">
              <option value=''>请选择</option>
            </select>
            <!-- <div class="provinceArea areaItem">省区域<i class='mIcon icon-select'></i></div>
            <div class="cityArea areaItem">市区域<i class='mIcon icon-select'></i></div> -->
        </div>
        <div class="projectBody">
            <div class="searchItem">
                <input type="text" ng-model='searchText' placeholder='输入查找项目名称'/>
                <i class='mIcon icon-search' ng-click='searchBtn()'></i>
            </div>
            <ul class="projectNameList">
                <!-- <li ng-repeat='i in projectList'>{{i.projectName}}</li>                 -->
                <li ng-repeat='i in projectList'><p>{{i.projectName}}</p><button class='btn btn-primary' ng-click="goTo({{i.id}})"></button></li>
            </ul>
            <!-- <div id='loadMore'>下拉展开更多…</div> -->
        </div>
    </div>
    <div id='chartData'>
        <div class="chartBodyTitle text-right">
            <p class='pull-left'>统计台<span class='mr-10 ml-10'>总数:{{totalCount.total}}</span><span class='mr-10'>故障:1</span><span class='mr-10'>报警:2</span><span class='mr-10'>离线:3</span></p>
            <div class='form-inline'>
                <div class="form-group">
                      <label for="">登记时间:</label>
                      <div class="input-group" ng-controller="indexPageNgControl">
                        <input type="text" id="startTime" class='form-control blue_bg' disabled datepicker-popup="{{format}}" ng-change='changeTime()' ng-model="startTime" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭">
                        <div class="input-group-addon" ng-click="open($event)"><i class='glyphicon glyphicon-calendar'></i></div>
                      </div>
                      <label for="">-</label>
                      <div class="input-group" ng-controller="indexPageNgControl">
                        <input type="text" id="endTime" class='form-control blue_bg' disabled datepicker-popup="{{format}}" ng-change='changeTime()' ng-model="endTime" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭">
                        <div class="input-group-addon" ng-click="open($event)"><i class='glyphicon glyphicon-calendar'></i></div>
                      </div>
                </div>
                <button type='button' class='btn btn-primary' ng-click='chartInit()'><i class='glyphicon glyphicon-search'></i></button>
            </div>
        </div>
        <div class="chartBody" id='chartBody' ng-show='chartsStatus'>
            <div e-chart options="option"></div>
        </div>
    </div>
    <!-- <div id="pieChart">
        <div class="sTitle">
            <div class="text">设备分布饼图</div>
        </div>
        <div class="chartBody" id='pieChartBody'>
            <div e-chart options="pieOption"></div>
        </div>
    </div> -->
</div>