<div id='selfMain'>
    <div id="selfMap">
        <!-- <div class='info'>
            <div class="infoTitle"><p>国际创业中心</p> <span class='closeInfo'>x</span></div>
            <table class='infoBody' cellspacing='0'>
                <tr>
                    <th><i class='mIcon icon-address'></i>地址</th>
                    <th><i class='mIcon icon-floorArea'></i>建筑面积</th>
                    <th><i class='mIcon icon-device'></i>消防设备</th>
                </tr>
                <tr>
                    <td>华苑产业园华天道2号</td>
                    <td>2000平米</td>
                    <td>
                        <p>A设备:200台</p>
                        <p>B设备:200台</p>
                        <p>C设备:200台</p>
                    </td>
                </tr>
                <tr>
                    <th><i class='mIcon icon-clients'></i>所属客户</th>
                    <th><i class='mIcon icon-charges'></i>安全负责人</th>
                    <th><i class='mIcon icon-phone'></i>联系电话</th>
                </tr>
                <tr>
                    <td>国创中心</td>
                    <td>李某</td>
                    <td>
                        <p>022-28978989</p>
                        <p>022-22222222</p>
                    </td>
                </tr>
            </table>
            <div class="icon icon-arrowDown"></div>
        </div> -->
    </div>
    <div id='projectList' style="height: 100%">
        <div class="projectTitle">
            <select class="form-control blue_bg areaItem" ng-model="selected" ng-options="s.name for s in division" ng-change="c()">
              <option value=''>请选择</option>
            </select>
            <select class="form-control blue_bg areaItem"  ng-model="selected2" ng-options="sh.name for sh in selected.child" ng-change="c2()">
              <option value=''>请选择</option>
            </select>
            <!-- <div class="provinceArea areaItem">省区域<i class='mIcon icon-select'></i></div>
            <div class="cityArea areaItem">市区域<i class='mIcon icon-select'></i></div> -->
        </div>
        <div class="projectBody">
            <div class="searchItem">
                <input type="text" ng-model='searchText' placeholder='输入查找项目名称'/>
                <i class='mIcon icon-search' ng-click='searchBtn()'></i>
            </div>
            <ul class="projectNameList">
                <!-- <li ng-repeat='i in projectList'>{{i.projectName}}</li>                 -->
                <li ng-repeat='i in projectList' ng-click="goTo({{i.id}})"><p>{{i.projectName}}</p><button class='btn btn-primary'></button></li>
            </ul>
            <!-- <div id='loadMore'>下拉展开更多…</div> -->
        </div>
    </div>
    <div id='chartData'>
        <div class="row">
            <p class='col-sm-3'>统计台</p>
            <div class='col-sm-9 form-inline text-right'>
                <div class="form-group">
                      <label for="">登记时间:</label>
                      <div class="input-group" ng-controller="indexPageNgControl">
                        <input type="text" id="startTime" class='form-control blue_bg' disabled datepicker-popup="{{format}}" ng-change='changeTime()' ng-model="startTime" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭">
                        <div class="input-group-addon" ng-click="open($event)"><i class='glyphicon glyphicon-calendar'></i></div>
                      </div>
                      <label for="">-</label>
                      <div class="input-group" ng-controller="indexPageNgControl">
                        <input type="text" id="endTime" class='form-control blue_bg' disabled datepicker-popup="{{format}}" ng-change='changeTime()' ng-model="endTime" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭">
                        <div class="input-group-addon" ng-click="open($event)"><i class='glyphicon glyphicon-calendar'></i></div>
                      </div>
                </div>
                <button type='button' class='btn btn-primary' ng-click='chartInit()'><i class='glyphicon glyphicon-search'></i></button>
            </div>
        </div>
        <div class="chartBody" id='chartBody' ng-show='chartsStatus'>
            <div e-chart options="option"></div>
        </div>
    </div>
    <!-- <div id="pieChart">
        <div class="sTitle">
            <div class="text">设备分布饼图</div>
        </div>
        <div class="chartBody" id='pieChartBody'>
            <div e-chart options="pieOption"></div>
        </div>
    </div> -->
</div>