/Maven__com_alibaba_fastjson_1_2_47.xml
/Maven__com_aliyun_aliyun_java_sdk_core_3_5_1.xml
/Maven__com_aliyun_aliyun_java_sdk_iot_5_0_0.xml
/Maven__com_aliyun_openservices_iot_as_bridge_sdk_core_1_0_0.xml
/Maven__com_aliyun_openservices_iot_as_bridge_sdk_server_1_0_0.xml
/Maven__com_aliyun_openservices_iot_client_base_1_1_0.xml
/Maven__com_aliyun_openservices_iot_client_message_1_1_0.xml
/Maven__com_github_rholder_guava_retrying_2_0_0.xml
/Maven__com_google_code_findbugs_jsr305_2_0_2.xml
/Maven__com_google_errorprone_error_prone_annotations_2_1_3.xml
/Maven__com_google_guava_guava_23_6_jre.xml
/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
/Maven__com_typesafe_config_1_3_3.xml
/Maven__commons_codec_commons_codec_1_11.xml
/Maven__io_netty_netty_all_4_1_22_Final.xml
/Maven__org_checkerframework_checker_compat_qual_2_0_0.xml
/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
/Maven__org_json_json_20170516.xml
/Maven__org_projectlombok_lombok_1_16_20.xml
/Maven__org_slf4j_slf4j_api_1_7_5.xml
/Maven__org_slf4j_slf4j_simple_1_6_2.xml
