<!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">修改密码</h1>
</div> -->
<div controlled-rescode>
<div class="wrapper-md">  
    <div class='myBox' style='width:80%;margin:0 auto'>
        
    
	    <form class="form-horizontal" role="form">
	        <div class="form-group">
	            <label class="col-md-3 control-label"><span class="required">*</span>旧密码</label>
	            <div class="col-md-8">
	                <input type="password" class="form-control" id="oldPas" ng-model="oldPas" placeholder="">
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="col-md-3 control-label"><span class="required">*</span>新密码</label>
	            <div class="col-md-8">
	                <input type="password" class="form-control" id="newPas" ng-model="newPas" placeholder="">
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="col-md-3 control-label"><span class="required">*</span>确认密码</label>
	            <div class="col-md-8">
	                <input type="password" class="form-control" id="configPas" ng-model="configPas" placeholder="">
	            </div>
	        </div>
	        
	    </form>
	    <div class='text-center'>
            <button type='button' class='btn btn-primary' ng-click="submitF()">提交</button>
        </div>
    </div>
</div>
</div>
