<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">项目管理</h1>
</div>
<div controlled-rescode>
<div class="wrapper-md">  
  <form action="" class='form-inline myBox'>
    <div class="form-group">
      <label for="">设备类型：</label>
      <select class="form-control blue_bg">
        <option>天津</option>
        <option>北京</option>
        <option>上海</option>
        <option>深圳</option>
        <option>杭州</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">登记时间:</label>
      <div class="input-group" ng-controller="DatepickerDemoCtrl">
        <input type="text" class='form-control blue_bg' disabled datepicker-popup="{{format}}" ng-change='change()' ng-model="startTime" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭">
        <div class="input-group-addon" ng-click="open($event)"><i class='glyphicon glyphicon-calendar'></i></div>
      </div>
      <label for="">-</label>
      <div class="input-group" ng-controller="DatepickerDemoCtrl">
        <input type="text" class='form-control blue_bg' disabled datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭">
        <div class="input-group-addon" ng-click="open($event)"><i class='glyphicon glyphicon-calendar'></i></div>
      </div>
    </div>  
    <div class="form-group">
      <label for="">经销商：</label>
      <select class="form-control blue_bg">
        <option>A经销商</option>
        <option>B经销商</option>
        <option>C经销商</option>
        <option>D经销商</option>
        <option>E经销商</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">省区域：</label>
      <select class="form-control blue_bg" ng-model="selected" ng-options="s.name for s in division" ng-change="c()">
        <option value = ''>请选择</option>
        <!-- <option>天津</option>
        <option>北京</option>
        <option>上海</option>
        <option>深圳</option>
        <option>杭州</option> -->
      </select>
    </div>
    <div class="form-group">
      <label for="">地市区域：</label>
      <select class="form-control blue_bg" ng-model="selected2" ng-options="sh.name for sh in selected.child" ng-change="c2()">
        <option value=''>请选择</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">县/区：</label>
      <select class="form-control blue_bg" ng-model="selected3" ng-options="x.value for x in selected2.child" ng-change="c3()">
        <option value=''>请选择</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">项目名称：</label>
      <select class="form-control blue_bg">
        <option>国际创业中心</option>
        <option>海泰发展六道</option>
        <option>C项目</option>
        <option>D项目</option>
        <option>E项目</option>
      </select>
    </div>
    <button type='button' class='btn btn-primary'><i class='glyphicon glyphicon-search'></i></button>
  </form>
  <div class="myBox" style='height: 300px;'>
    <div e-chart options="option"></div>
  </div>
  <div class="myBox">
    <div class="table-responsive">
      <table class="table table-striped b-t b-light" >
        <thead>
          <tr>
            <th>时间</th>
            <th>故障电弧</th>
            <th>漏电</th>
            <th>过温</th>
            <th>缺相</th>
            <th>过压</th>
            <th>欠压</th>
            <th>过载</th>
            <th>报警总数</th>
            <th>故障总数</th>
            <th>隐患总数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2017/1</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>91</td>
            <td>2</td>
            <td>15</td>
          </tr>
          <tr>
            <td>2017/1</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>91</td>
            <td>2</td>
            <td>15</td>
          </tr>
          <tr>
            <td>2017/1</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>91</td>
            <td>2</td>
            <td>15</td>
          </tr>
          <tr>
            <td>2017/1</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>91</td>
            <td>2</td>
            <td>15</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>