<!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">项目管理</h1>
</div> -->
<div controlled-rescode>
<div class="wrapper-md">  
  <form action="" class='form-inline myBox'>
    <div class="form-group">
      <label for="">省区域：</label>
      <select class="form-control blue_bg" ng-model="selected" ng-options="s.name for s in division" ng-change="c()">
        <option value = ''>请选择</option>
        <!-- <option>天津</option>
        <option>北京</option>
        <option>上海</option>
        <option>深圳</option>
        <option>杭州</option> -->
      </select>
    </div>
    <div class="form-group">
      <label for="">地市区域：</label>
      <select class="form-control blue_bg" ng-model="selected2" ng-options="sh.name for sh in selected.child" ng-change="c2()">
        <option value=''>请选择</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">县/区：</label>
      <select class="form-control blue_bg" ng-model="selected3" ng-options="x.value for x in selected2.child" ng-change="c3()">
        <option value=''>请选择</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">项目名称：</label>
      <select class="form-control blue_bg" ng-model="projectName" ng-options="x.projectName for x in projectss">
        <option value=''>全部</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="">登记时间:</label>
      <div class="input-group" ng-controller="dateControl">
        <input type="text" id="startTime" class='form-control blue_bg' disabled datepicker-popup="{{format}}" ng-model="startTime"  ng-change='changeTime()' is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭">
        <div class="input-group-addon" ng-click="open($event)"><i class='glyphicon glyphicon-calendar'></i></div>
      </div>
      <label for="">-</label>
      <div class="input-group" ng-controller="dateControl">
        <input type="text" id="endTime" class='form-control blue_bg' disabled datepicker-popup="{{format}}" ng-model="endTime" ng-change='changeTime()' is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭">
        <div class="input-group-addon" ng-click="open($event)"><i class='glyphicon glyphicon-calendar'></i></div>
      </div>
    </div>
    <button type='button' class='btn btn-primary' ng-click="searchBtn()"><i class='glyphicon glyphicon-search'></i></button>
  </form>
  <div class="myBox" style='height: 300px;' ng-show='chartsStatus'>
    <div e-chart options="option"></div>
  </div>
  <div class="myBox"> 
  	<div class='row'>
  		<div class='col-xs-6'><h3 style='margin-top:5px;'>数据分析列表</h3></div>
  		<div class='col-xs-6'>
  			<div class='text-right mb-10'><button type='button' ng-click="ExcelTo()" class='btn btn-info'>导出excel</button></div>
  		</div>
  	</div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light" >
        <thead>
          <tr id='myTableTitle'>
            
          </tr>
        </thead>
        <tbody id='myTableBody'>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>