html,body,head,div,span,p,input,button,form{
	margin:0;
	padding: 0;
}
body{
	text-align: center;
	color:#666;
	background-color: #F0F3F4;
	font-size: 14px;
	line-height: 1.8em;
	font-family: "Microsoft Yahei","微软雅黑",Tahoma,Helvetica,STHeiti;
}
.mb-10{
	margin-bottom: 10px;
}
.pt-10{
	padding-top: 10px;
}
.title{
	font-size: 20px;
	padding: 20px 0;
	margin-top: 20px;
	color: #333;
}
#loginData{
	width:350px;
	margin:0 auto;
	background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #e7ecee;
	margin-bottom: 20px;
}
#loginData input{
	width:100%;
	box-sizing: border-box;
	padding: 15px 20px;
	border:none;
	outline: none;
	border-bottom: 1px solid #e7ecee;
}
#loginData input:last-child{
	border:none;
}
button{
	width:350px;
	outline: none;
	border:none;
	padding: 12px 0;
	font-size: 16px;
	margin-bottom: 10px;
}
#submitBtn{
	background-color: #9E97CE;
	color: #fff;
}
#forgetData>span:hover{
	color: #333;
	cursor: pointer;
}
#jumpPage{
	border:1px solid #dee5e7;
	background-color: #fff;
}
#jumpPage:hover{
	background-color: #edf1f2;
	color: #58666e ;
	border-color:#c7d3d6;
	cursor:pointer;
}
#jurisdiction{
    display: block;
    width:350px;
    margin:0 auto;
    padding: 10px 0;
}
#productSecurity{
    width:350px;
    margin:15px auto;
    text-align: left;
}
#productSecurity label{
    cursor:pointer;
    margin-right: 10px;
}
#productSecurity input{
    cursor:pointer;
    width:auto!important;
}
