<div controlled-rescode>
	<!-- <div class="bg-light lter b-b wrapper-md">
	  <h1 class="m-n font-thin h3">删除设备/项目申请表管理</h1>
	</div> -->
	<div class="wrapper-md">  
	  <div class="panel panel-default">
	    <!-- <div class="panel-heading">
            <button class="btn m-b-xs w-xs btn-danger btn-rounded delNetApply" ng-click="del()">删除</button>
	    </div> -->
	    <div class="row wrapper">
	      <div class="col-sm-5 m-b-xs">
	        <select class="input-sm form-control w-sm inline v-middle" ng-change="changePageSize()" ng-model="pageSize" style="width: 65px">
	          <option value="5">5</option>
	          <option value="10">10</option>
	          <option value="20">20</option>
	          <option value="50">50</option>
	          <option value="100">100</option>
	        </select>
	        <!-- <button class="btn btn-sm btn-default">Apply</button>       -->          
	      </div>
	      <div class="col-sm-4">
	      </div>
	      <div class="col-sm-3">
	        <div class="input-group">
	          <!-- <input type="text" class="input-sm form-control" ng-change="search()" ng-model="searchText" placeholder="Search"> -->
	          <!-- <span class="input-group-btn">
	            <button class="btn btn-sm btn-default" type="button">Go!</button>
	          </span> -->
	        </div>
	        <!-- <button class="btn m-b-xs w-xs btn-danger btn-rounded delNetApply" ng-click="del()">删除</button> -->
	      </div>
	    </div>
	    <div class="table-responsive">
	      <table class="table table-striped b-t b-light" style="table-layout:fixed">
	        <thead>
	          <tr>
	            <th>处理内容</th>
	            <th>处理人</th>
	            <th>处理时间</th>
	            <th>处理状态</th>
	            <th>唯一标识</th>
	            <th>设备地址</th>
	            <th>类型</th>
	        </thead>
	        <tbody>
	          <tr ng-repeat="warning in warningLists">
		          <td>{{warning.handleCon}}</td>
		           <td>{{warning.handleManager.username}}</td>
		          <td>{{warning.handleDateStr}}</td>
		          <td>{{warning.handleStateStr}}</td>
		          <td>{{warning.eqDeviceId}}</td>
		          <td>{{warning.eqAddRess}}</td>
		          <td>{{warning.typeStr}}</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
	    <footer class="panel-footer">
	      <div class="row">
	        <!-- <div class="col-sm-4 hidden-xs">
	          <select class="input-sm form-control w-sm inline v-middle">
	            <option value="0">删除</option>
	          </select>
	          <button class="btn btn-sm btn-default">Apply</button>                  
	        </div> -->
	        <div class="col-sm-4">
	          <small class="text-muted inline m-t-sm m-b-sm">共 {{total}} 条数据</small>
	        </div>
	        <div class="col-sm-offset-4 col-sm-4 text-right text-center-xs" ng-if="pages.length>0">                
	          <ul class="pagination pagination-sm m-t-none m-b-none">
	            <li ng-if="!hasPrevious" class="disabled"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
	            <li ng-if="hasPrevious"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
	            <li ng-class="{true:'active'}[p==currentPage]" ng-repeat="p in pages"><a ng-click="pageTo({{p}})">{{p}}</a></li>
	            <li ng-if="hasNext"><a ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
	            <li ng-if="!hasNext" class="disabled"><a  ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
	          </ul>
	        </div>
	      </div>
	    </footer>
	  </div>
	</div>
</div>
<script>
</script>