<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		ng-click="closeBtn()" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">管理分配经销商</h4>
</div>
<div class="modal-body">
	<div class="box border extend">
		<div class="box-body move">
			<div class="move-left ">
				<div class="box border extend">
					<div class="box-header">
						<span class="name">未被分配的经销商</span>
					</div>
					<div class="box-body overflowy" style=" height: 350px">
						<ul class="list cursor choice-list choice-list-n" id="leftTab"></ul>
					</div>
				</div>
			</div>
			<div class="move-oper ">
				<div class="move-pic">
					<i class="sico ico-select-m"></i>
					<i class="sico ico-cancle-m"></i>
				</div>
			</div>
			<div class="move-right ">
				<div class="box border extend">
					<div class="box-header">
						<span class="name">此经销商的下属</span>
						<div class="tool">
						</div>
					</div>
					<div class="box-body overflowy" style=" height: 350px">
						<ul class="list cursor choice-list choice-list-y" id="rightTab"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="closeBtn()"
		data-dismiss="modal">取消</button>
	<button type="button" class="btn btn-primary" ng-click="confirmAdd()">确认</button>
</div>
