<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		ng-click="closeBtn()" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">选择分配项</h4>
</div>
<div class="modal-body">
	<ul id='checkList' class='list'>
		<li>经销商1</li>
		<li>经销商2</li>
		<li>经销商3</li>
		<li>经销商4</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="closeBtn()"
		data-dismiss="modal">取消</button>
	<button type="button" class="btn btn-primary" ng-click="confirmAdd()">确认</button>
</div>
