<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="i9.defence.platform.dao.mapper.ChannelDataMapper">
	<resultMap id="BaseResultMap" type="i9.defence.platform.model.ChannelData">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="systemId" jdbcType="VARCHAR" property="systemId" />
		<result column="channel" jdbcType="INTEGER" property="channel" />
		<result column="dateTime" jdbcType="TIMESTAMP" property="dateTime" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="value" jdbcType="VARCHAR" property="value" />
		<result column="systemType" jdbcType="VARCHAR" property="systemType" />
		<result column="dealStatus" jdbcType="INTEGER" property="dealStatus" />
    	<result column="dealDetail" jdbcType="VARCHAR" property="dealDetail" />
    	<result column="deviceId"   jdbcType="VARCHAR" property="deviceId"/>
    	<result column="deviceAddress" jdbcType="VARCHAR" property="deviceAddress"/>
		<result column="dealDate" jdbcType="TIMESTAMP" property="dealDate" />
		<result column="dealManagerId" jdbcType="INTEGER" property="dealManagerId" />
		<association property="dealManager" column="dealManagerId" select="i9.defence.platform.dao.mapper.ManagerMapper.selectByPrimaryKey"/>
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	
	<sql id="Query_By_Dto_Where_Clause">
	 <trim prefix="WHERE"  prefixOverrides="AND|OR" >
        <if test="example.types != null">
            AND dealStatus in
            <foreach collection="example.types" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
	 </trim>
	</sql>
	<sql id="Query_Example_Where_Clause">
		<trim prefix="WHERE"  prefixOverrides="AND|OR" >
			<if test="deviceId != null and deviceId != ''">
			 and deviceId = #{deviceId}
			</if>
			<if test="channel != null">
			 and channel = #{channel}
			</if>
			<if test="types != null">
			 and type in
			 	<foreach collection="types" item="item" separator="," open="(" close=")">
			 		#{item}
			 	</foreach>
			</if>
			<if test="startDate != null">
			 and  dateTime &gt; #{startDate}
			</if>
			<if test="endDate != null">
			 and  dateTime &lt; date_add(#{endDate}, INTERVAL 1 day)
			</if>
		</trim>
	</sql>
	<sql id="Base_Column_List">
	    id, systemId, channel, dateTime, type, value, systemType, dealStatus, dealDetail,deviceId,deviceAddress,dealDate,dealManagerId
    </sql>
	<select id="selectByExample" parameterType="i9.defence.platform.model.ChannelDataExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_channel_data
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_channel_data
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_channel_data
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="i9.defence.platform.model.ChannelDataExample">
		delete from t_channel_data
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="i9.defence.platform.model.ChannelData">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_channel_data (systemId, channel, dateTime, 
      type, value, systemType, 
      dealStatus, dealDetail,deviceId,deviceAddress,dealDate,dealManagerId)
    values (#{systemId,jdbcType=VARCHAR}, #{channel,jdbcType=INTEGER}, #{dateTime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, #{systemType,jdbcType=VARCHAR}, 
      #{dealStatus,jdbcType=INTEGER}, #{dealDetail,jdbcType=VARCHAR} ,#{deviceId,jdbcType=VARCHAR},#{deviceAddress,jdbcType=VARCHAR},
      #{dealDate,jdbcType=TIMESTAMP},#{dealManagerId,jdbcType=INTEGER}
      )
  </insert>
	<insert id="insertSelective" parameterType="i9.defence.platform.model.ChannelData">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_channel_data
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="systemId != null">
				systemId,
			</if>
			<if test="channel != null">
				channel,
			</if>
			<if test="dateTime != null">
				dateTime,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="value != null">
				value,
			</if>
			<if test="systemType != null">
		        systemType,
	        </if>
	        <if test="dealStatus != null">
	            dealStatus,
	        </if>
	        <if test="dealDetail != null">
	            dealDetail,
	        </if>
	        <if test="deviceId != null">
	        	deviceId
	        </if>
	        <if test="deviceAddress != null">
	        	deviceAddress	
	        </if>
	        <if test="dealDate != null">
	        	dealDate
	        </if>
	        <if test="dealManagerId != null">
	        	dealManagerId
	        </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="systemId != null">
				#{systemId,jdbcType=VARCHAR},
			</if>
			<if test="channel != null">
				#{channel,jdbcType=INTEGER},
			</if>
			<if test="dateTime != null">
				#{dateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="value != null">
				#{value,jdbcType=VARCHAR},
			</if>
		    <if test="systemType != null">
		        #{systemType,jdbcType=VARCHAR},
            </if>
            <if test="dealStatus != null">
		        #{dealStatus,jdbcType=INTEGER},
	        </if>
	        <if test="dealDetail != null">
		        #{dealDetail,jdbcType=VARCHAR},
	        </if>
       	    <if test="deviceId != null">
		        #{deviceId,jdbcType=VARCHAR},
	        </if>
     	    <if test="deviceAddress != null">
		        #{deviceAddress,jdbcType=VARCHAR},
	        </if>
	        <if test="dealDate != null">
		        #{dealDate,jdbcType=TIMESTAMP},
	        </if>
	        <if test="dealManagerId != null">
		        #{dealManagerId,jdbcType=INTEGER},
	        </if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="i9.defence.platform.model.ChannelDataExample"
		resultType="java.lang.Integer">
		select count(*) from t_channel_data
		<if test="_parameter != null">
			<include refid="Query_By_Dto_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_channel_data
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.systemId != null">
				systemId = #{record.systemId,jdbcType=VARCHAR},
			</if>
			<if test="record.channel != null">
				channel = #{record.channel,jdbcType=INTEGER},
			</if>
			<if test="record.dateTime != null">
				dateTime = #{record.dateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.type != null">
				type = #{record.type,jdbcType=INTEGER},
			</if>
			<if test="record.value != null">
				value = #{record.value,jdbcType=VARCHAR},
			</if>
			<if test="record.systemType != null">
        		systemType = #{record.systemType,jdbcType=VARCHAR},
      	    </if>
      	    <if test="record.dealStatus != null">
        		dealStatus = #{record.dealStatus,jdbcType=INTEGER},
      		</if>
      		<if test="record.dealDetail != null">
        		dealDetail = #{record.dealDetail,jdbcType=VARCHAR},
    		</if>
    		<if test="record.deviceId != null">
        		deviceId = #{record.deviceId,jdbcType=VARCHAR},
    		</if>
    		<if test="record.deviceAddress != null">
        		deviceAddress = #{record.deviceAddress,jdbcType=VARCHAR},
    		</if>
    		<if test="record.dealDate != null">
				dealDate = #{record.dealDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.dealManagerId != null">
        		dealManagerId = #{record.dealManagerId,jdbcType=INTEGER},
      		</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		 update t_channel_data
    set id = #{record.id,jdbcType=INTEGER},
      systemId = #{record.systemId,jdbcType=VARCHAR},
      channel = #{record.channel,jdbcType=INTEGER},
      dateTime = #{record.dateTime,jdbcType=TIMESTAMP},
      type = #{record.type,jdbcType=INTEGER},
      value = #{record.value,jdbcType=VARCHAR},
      systemType = #{record.systemType,jdbcType=VARCHAR},
      dealStatus = #{record.dealStatus,jdbcType=INTEGER},
      dealDetail = #{record.dealDetail,jdbcType=VARCHAR},
      deviceId = #{record.deviceId,jdbcType=VARCHAR},
      deviceAddress = #{record.deviceAddress,jdbcType=VARCHAR},
      dealDate = #{record.dealDate,jdbcType=TIMESTAMP},
      dealManagerId = #{record.dealManagerId,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="i9.defence.platform.model.ChannelData">
		update t_channel_data
		<set>
			<if test="systemId != null">
				systemId = #{systemId,jdbcType=VARCHAR},
			</if>
			<if test="channel != null">
				channel = #{channel,jdbcType=INTEGER},
			</if>
			<if test="dateTime != null">
				dateTime = #{dateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="value != null">
				value = #{value,jdbcType=VARCHAR},
			</if>
			<if test="systemType != null">
        		systemType = #{systemType,jdbcType=VARCHAR},
   		    </if>
   		    <if test="dealStatus != null">
	        	dealStatus = #{dealStatus,jdbcType=INTEGER},
	     	</if>
	      	<if test="dealDetail != null">
	        	dealDetail = #{dealDetail,jdbcType=VARCHAR},
	      	</if>
	      	<if test="deviceId != null">
	        	deviceId = #{deviceId,jdbcType=VARCHAR},
	      	</if>
      		<if test="deviceAddress != null">
	        	deviceAddress = #{deviceAddress,jdbcType=VARCHAR},
	      	</if>
	      	<if test="dealDate != null">
				dealDate = #{dealDate,jdbcType=TIMESTAMP},
			</if>
			<if test="dealManagerId != null">
	        	dealManagerId = #{dealManagerId,jdbcType=INTEGER},
	     	</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="i9.defence.platform.model.ChannelData">
		update t_channel_data
	    set systemId = #{systemId,jdbcType=VARCHAR},
	      channel = #{channel,jdbcType=INTEGER},
	      dateTime = #{dateTime,jdbcType=TIMESTAMP},
	      type = #{type,jdbcType=INTEGER},
	      value = #{value,jdbcType=VARCHAR},
	      systemType = #{systemType,jdbcType=VARCHAR},
	      dealStatus = #{dealStatus,jdbcType=INTEGER},
	      dealDetail = #{dealDetail,jdbcType=VARCHAR},
          deviceId = #{deviceId,jdbcType=VARCHAR},
          deviceAddress = #{deviceAddress,jdbcType=VARCHAR},
          dealDate = #{dealDate,jdbcType=TIMESTAMP},
          dealManagerId = #{dealManagerId,jdbcType=INTEGER}
	    where id = #{id,jdbcType=INTEGER}
	</update>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_channel_data (systemId, channel, dateTime,
		type, value,systemType,deviceId,deviceAddress) values
		<foreach collection="list" item="item" separator=",">
			(#{item.systemId},#{item.channel},#{item.dateTime},#{item.type},#{item.value},#{item.systemType},#{item.deviceId},#{item.deviceAddress})
		</foreach>
	</insert>

	<select id="selectChannelData" parameterType="i9.defence.platform.dao.vo.ChannelDataSearchDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_channel_data
		<if test="_parameter != null">
			<include refid="Query_Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	
	<update id="updateDealStatusByIds">
	
	 update t_channel_data 
	SET dealStatus = CASE id 
		<foreach collection="list" item="item">
			WHEN #{item.id} THEN #{item.dealStatus} 
		</foreach>
        END, 
    dealDetail = CASE id 
       <foreach collection="list" item="item">
			WHEN #{item.id} THEN #{item.dealDetail} 
		</foreach>
        END,
        dealDate = #{nowDate},dealManagerId= #{managerId}
	where id in
    <foreach collection="list" item="item" open="(" close=")" separator=",">
   	 	#{item.id}
    </foreach>
	</update>
	
	<select id="selectByLimitPage" resultType="i9.defence.platform.dao.vo.ChannelDataLimitPageDto">
	select  c.id as id,c.systemId as systemId ,c.channel as channel,c.dateTime as dateTime,
	c.type as type,c.value as value,c.systemType as systemType,c.dealStatus as dealStatus,
	c.dealDetail as dealDetail,c.deviceAddress as deviceAddress,c.deviceId as deviceId,hd.WarningMin as WarningMin,
	hd.WarningMax as WarningMax ,hd.HiddenMin as HiddenMin, hd.HiddenMax as HiddenMax, hd.name as name from t_channel_data  c 
	LEFT JOIN t_passageway p on c.channel=p.channel  and c.deviceId =p.deviceId LEFT join t_hidden_danger hd on hd.id = p.hiddenDangerId
       <if test="_parameter != null" >
          <include refid="Query_By_Dto_Where_Clause" />
       </if>
       <if test="example.orderByClause != null" >
          order by ${example.orderByClause}
       </if>
        limit #{offset},#{limit}
	</select>
	
	
</mapper>