<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="i9.defence.platform.dao.mapper.ConnectLogMapper">
  <resultMap id="BaseResultMap" type="i9.defence.platform.model.ConnectLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="deviceId" jdbcType="VARCHAR" property="deviceId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  	<result column="channelId" jdbcType="VARCHAR" property="channelId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, deviceId, status, createTime, channelId
  </sql>
  <select id="selectByExample" parameterType="i9.defence.platform.model.ConnectLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_connect_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_connect_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_connect_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="i9.defence.platform.model.ConnectLogExample">
    delete from t_connect_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="i9.defence.platform.model.ConnectLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_connect_log (deviceId, status, createTime, 
      channelId)
    values (#{deviceId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{channelId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="i9.defence.platform.model.ConnectLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_connect_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        deviceId,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="channelId != null">
        channelId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample"  resultType="java.lang.Integer">
    select count(*) from t_connect_log cl
    <if test="_parameter != null">
      <include refid="Query_By_Dto_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_connect_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.deviceId != null">
        deviceId = #{record.deviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
       <if test="record.channelId != null">
        channelId = #{record.channelId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
     update t_connect_log
    set id = #{record.id,jdbcType=INTEGER},
      deviceId = #{record.deviceId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      channelId = #{record.channelId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="i9.defence.platform.model.ConnectLog">
    update t_connect_log
    <set>
      <if test="deviceId != null">
        deviceId = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelId != null">
        channelId = #{channelId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="i9.defence.platform.model.ConnectLog">
     update t_connect_log
    set deviceId = #{deviceId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      channelId = #{channelId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <select id="selectByLimitPage" resultType="i9.defence.platform.dao.vo.ConnectLogDto">
	    SELECT
			cl.createTime as createTime ,
			cl.STATUS as status,
			cl.channelId as channelId,
			( SELECT e.equipmentPosition FROM t_equipment e WHERE e.deviceId = cl.deviceId ) AS equipmentPosition,
			( SELECT e.equipmentRemarks FROM t_equipment e WHERE e.deviceId = cl.deviceId ) AS equipmentRemarks ,
			( SELECT p.projectName FROM t_project p WHERE p.id IN ( SELECT e.projectId from t_equipment e where e.projectId = p.id and e.deviceId = cl.deviceId) ) as projectName ,
			( SELECT ec.eqCategoryName FROM t_equipment_category ec WHERE ec.eqCategoryId IN ( SELECT e.systemId from t_equipment e where e.systemId = ec.eqCategoryId and e.deviceId = cl.deviceId) ) as eqCategoryName
		 FROM t_connect_log cl 
        <if test="_parameter != null" >
          <include refid="Query_By_Dto_Where_Clause" />
        </if>
        <if test="example.orderByClause != null" >
          order by ${example.orderByClause}
        </if>
        limit #{offset},#{limit}
   </select>
   <sql id="Query_By_Dto_Where_Clause">
    <trim prefix="WHERE"  prefixOverrides="AND|OR" >
    	<if test="example.equipmentPosition != null and example.equipmentPosition != ''">
         	OR (deviceId in (select deviceId from t_equipment e  where e.equipmentPosition LIKE CONCAT('%',CONCAT('${example.equipmentPosition}','%')))
        </if>
        <if test="example.channelId != null and example.channelId != ''">
        	 OR channelId LIKE CONCAT('%',CONCAT('${example.channelId}','%')))
        </if>
        <if test="example.status != null ">
          and status =#{example.status}
        </if>
         <if test="example.managerId != null and example.managerId != ''">
          and (select p.distributorId from t_project p where p.id in (select e.projectId from t_equipment e where e.deviceId=cl.deviceId))=#{example.managerId}
        </if>
        <if test="example.managerId2 != null and example.managerId2 != ''">
          and (select e.projectId from t_equipment e where e.deviceId=cl.deviceId) in (select projectId from t_project_safe where managerId =#{example.managerId2})
  		</if>
    </trim>
  </sql>
</mapper>