<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="i9.defence.platform.dao.mapper.EquipmentCategoryMapper">
  <resultMap id="BaseResultMap" type="i9.defence.platform.model.EquipmentCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="eqCategoryName" jdbcType="VARCHAR" property="eqCategoryName" />
    <result column="eqCategoryId" jdbcType="VARCHAR" property="eqCategoryId" />
    <result column="eqCategoryExplain" jdbcType="VARCHAR" property="eqCategoryExplain" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, eqCategoryName,eqCategoryId,eqCategoryExplain
  </sql>
  <select id="selectByExample" parameterType="i9.defence.platform.model.EquipmentCategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_equipment_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_equipment_category
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="selectByeqEqCategoryId" parameterType="string" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_equipment_category
    where eqCategoryId = #{eqCategoryId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.List" >
    delete from t_equipment_category
    where id in
    <foreach collection="list" item="item" open="(" close=")" separator=",">#{item}</foreach>
  </delete>
  <delete id="deleteByExample" parameterType="i9.defence.platform.model.EquipmentCategoryExample">
    delete from t_equipment_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="i9.defence.platform.model.EquipmentCategory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_equipment_category (eqCategoryName,eqCategoryId,eqCategoryExplain)
    values (#{eqCategoryName,jdbcType=VARCHAR},#{eqCategoryId,jdbcType=VARCHAR},#{eqCategoryExplain,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="i9.defence.platform.model.EquipmentCategory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_equipment_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eqCategoryName != null">
        eqCategoryName,
      </if>
       <if test="eqCategoryId != null">
        eqCategoryId,
      </if>
       <if test="eqCategoryExplain != null">
        eqCategoryExplain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eqCategoryName != null">
        #{eqCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="eqCategoryId != null">
        #{eqCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="eqCategoryExplain != null">
        #{eqCategoryExplain,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample"  resultType="java.lang.Integer">
    select count(*) from t_equipment_category
    <if test="_parameter != null">
      <include refid="Query_By_Dto_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_equipment_category
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.eqCategoryName != null">
        eqCategoryName = #{record.eqCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.eqCategoryId != null">
        eqCategoryId = #{record.eqCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.eqCategoryExplain != null">
        eqCategoryExplain = #{record.eqCategoryExplain,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_equipment_category
    set id = #{record.id,jdbcType=INTEGER},
      eqCategoryName = #{record.eqCategoryName,jdbcType=VARCHAR},
      eqCategoryId = #{record.eqCategoryId,jdbcType=VARCHAR},
      eqCategoryExplain = #{record.eqCategoryExplain,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="i9.defence.platform.model.EquipmentCategory">
    update t_equipment_category
    <set>
      <if test="eqCategoryName != null">
        eqCategoryName = #{eqCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="eqCategoryId != null">
        eqCategoryId = #{eqCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="eqCategoryExplain != null">
        eqCategoryExplain = #{eqCategoryExplain,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="i9.defence.platform.model.EquipmentCategory">
    update t_equipment_category
    set eqCategoryName = #{eqCategoryName,jdbcType=VARCHAR},
    eqCategoryId = #{eqCategoryId,jdbcType=VARCHAR},
    eqCategoryExplain = #{eqCategoryExplain,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="Query_By_Dto_Where_Clause">
    <trim prefix="WHERE"  prefixOverrides="AND|OR" >
        <if test="example.eqCategoryName != null and example.eqCategoryName != ''">
            OR (eqCategoryName LIKE CONCAT(CONCAT('%','${example.eqCategoryName}'),'%' )
        </if>
        <if test="example.eqCategoryId != null and example.eqCategoryId != ''">
            OR (eqCategoryId LIKE CONCAT(CONCAT('%','${example.eqCategoryId}'),'%' )
        </if>
    </trim>
  </sql>
  <select id="selectByLimitPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from t_equipment_category
        <if test="_parameter != null" >
          <include refid="Query_By_Dto_Where_Clause" />
        </if>
        <if test="example.orderByClause != null" >
          order by ${example.orderByClause}
        </if>
        limit #{offset},#{limit}
   </select>
  <!--  <select id="selectEqNumById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
   		SELECT count(*)  FROM t_equipment where equipmentCategoryId= #{id}
   </select> -->
   <select id="selectAllEqCategoryAndNum" resultType="i9.defence.platform.model.EquipmentCategory">
   select ec.*,(select count(*) from t_equipment e left join 
   t_project p on p.id = e.projectId where 
   e.systemId = ec.eqCategoryId 
   <if test="example.projectId !=null and example.projectId !=''">
   		and projectId='${example.projectId}'
   </if>
   <!--经销商  -->	
	<if test="example.distributorId != null and example.distributorId != ''">
		and distributorId ='${example.distributorId}'
	</if>
   <!--项目负责人  -->	
	<if test="example.prijrctManagerId != null and example.prijrctManagerId != ''">
		and projectId in (select projectId from t_project_safe where managerId = '${example.prijrctManagerId}')
	</if>
    ) 
   as eqNum from t_equipment_category ec
   </select>
   
    <select id="selectSumEqNum" resultType="java.lang.Integer">
   select sum((select count(*) from t_equipment e left join 
   t_project p on p.id = e.projectId where 
   e.equipmentCategoryId = ec.id
   <if test="example.projectId !=null and example.projectId !=''">
   		and projectId='${example.projectId}'
   </if>
   <!--经销商  -->	
	<if test="example.distributorId != null and example.distributorId != ''">
		and distributorId ='${example.distributorId}'
	</if>
   <!--项目负责人  -->	
	<if test="example.prijrctManagerId != null and example.prijrctManagerId != ''">
		and projectId in (select projectId from t_project_safe where managerId = '${example.prijrctManagerId}')
	</if>
    )) 
     as eqNums from t_equipment_category ec
   </select>
</mapper>