<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="i9.defence.platform.dao.mapper.EquipmentMonitorMapper">
  <resultMap id="BaseResultMap" type="i9.defence.platform.model.EquipmentMonitor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="voltage" jdbcType="DOUBLE" property="voltage" />
    <result column="electricity" jdbcType="DOUBLE" property="electricity" />
    <result column="realtime" jdbcType="TIMESTAMP" property="realtime" />
    <result column="eqState" jdbcType="VARCHAR" property="eqState" />
    <result column="eqId" jdbcType="INTEGER" property="eqId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, voltage, electricity, realtime, eqState, eqId
  </sql>
  <select id="selectByExample" parameterType="i9.defence.platform.model.EquipmentMonitorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_equipment_monitor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_equipment_monitor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_equipment_monitor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="i9.defence.platform.model.EquipmentMonitorExample">
    delete from t_equipment_monitor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="i9.defence.platform.model.EquipmentMonitor">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_equipment_monitor (voltage, electricity, realtime, 
      eqState, eqId)
    values (#{voltage,jdbcType=DOUBLE}, #{electricity,jdbcType=DOUBLE}, #{realtime,jdbcType=TIMESTAMP}, 
      #{eqState,jdbcType=VARCHAR}, #{eqId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="i9.defence.platform.model.EquipmentMonitor">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_equipment_monitor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="voltage != null">
        voltage,
      </if>
      <if test="electricity != null">
        electricity,
      </if>
      <if test="realtime != null">
        realtime,
      </if>
      <if test="eqState != null">
        eqState,
      </if>
      <if test="eqId != null">
        eqId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="voltage != null">
        #{voltage,jdbcType=DOUBLE},
      </if>
      <if test="electricity != null">
        #{electricity,jdbcType=DOUBLE},
      </if>
      <if test="realtime != null">
        #{realtime,jdbcType=TIMESTAMP},
      </if>
      <if test="eqState != null">
        #{eqState,jdbcType=VARCHAR},
      </if>
      <if test="eqId != null">
        #{eqId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="i9.defence.platform.model.EquipmentMonitorExample" resultType="java.lang.Integer">
    select count(*) from t_equipment_monitor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_equipment_monitor
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.voltage != null">
        voltage = #{record.voltage,jdbcType=DOUBLE},
      </if>
      <if test="record.electricity != null">
        electricity = #{record.electricity,jdbcType=DOUBLE},
      </if>
      <if test="record.realtime != null">
        realtime = #{record.realtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.eqState != null">
        eqState = #{record.eqState,jdbcType=VARCHAR},
      </if>
      <if test="record.eqId != null">
        eqId = #{record.eqId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_equipment_monitor
    set id = #{record.id,jdbcType=INTEGER},
      voltage = #{record.voltage,jdbcType=DOUBLE},
      electricity = #{record.electricity,jdbcType=DOUBLE},
      realtime = #{record.realtime,jdbcType=TIMESTAMP},
      eqState = #{record.eqState,jdbcType=VARCHAR},
      eqId = #{record.eqId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="i9.defence.platform.model.EquipmentMonitor">
    update t_equipment_monitor
    <set>
      <if test="voltage != null">
        voltage = #{voltage,jdbcType=DOUBLE},
      </if>
      <if test="electricity != null">
        electricity = #{electricity,jdbcType=DOUBLE},
      </if>
      <if test="realtime != null">
        realtime = #{realtime,jdbcType=TIMESTAMP},
      </if>
      <if test="eqState != null">
        eqState = #{eqState,jdbcType=VARCHAR},
      </if>
      <if test="eqId != null">
        eqId = #{eqId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="i9.defence.platform.model.EquipmentMonitor">
    update t_equipment_monitor
    set voltage = #{voltage,jdbcType=DOUBLE},
      electricity = #{electricity,jdbcType=DOUBLE},
      realtime = #{realtime,jdbcType=TIMESTAMP},
      eqState = #{eqState,jdbcType=VARCHAR},
      eqId = #{eqId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>