<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="i9.defence.platform.dao.mapper.ErrHandleMapper">
  <resultMap id="BaseResultMap" type="i9.defence.platform.model.ErrHandle">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="handleCon" jdbcType="VARCHAR" property="handleCon" />
    <result column="handleManagerId" jdbcType="INTEGER" property="handleManagerId" />
    <result column="handleDate" jdbcType="TIMESTAMP" property="handleDate" />
    <result column="handleState" jdbcType="INTEGER" property="handleState" />
    <result column="eqDeviceId" jdbcType="VARCHAR" property="eqDeviceId" />
    <result column="eqAddRess" jdbcType="VARCHAR" property="eqAddRess" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <association property="handleManager" column="handleManagerId" select="i9.defence.platform.dao.mapper.ManagerMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Query_By_Dto_Where_Clause">
    <trim prefix="WHERE"  prefixOverrides="AND|OR" >
    	<if test="example.eqDeviceId != null and example.eqDeviceId != ''">
            OR eqDeviceId like CONCAT('%',CONCAT('${example.eqDeviceId}','%'))
        </if>
        <!--  <if test="example.managerId != null and example.managerId != ''">
            AND handleManagerId in(select ps.managerId from t_project_safe ps left join t_project p on ps.projectId = p.id WHERE p.distributorId = #{example.managerId})
        </if>  -->
    </trim>
  </sql>
  <sql id="Base_Column_List">
    id, handleCon, handleManagerId, handleDate, handleState, eqDeviceId, eqAddRess,type
  </sql>
  <select id="selectByExample" parameterType="i9.defence.platform.model.ErrHandleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_err_handle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_err_handle
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_err_handle
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="i9.defence.platform.model.ErrHandleExample">
    delete from t_err_handle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="i9.defence.platform.model.ErrHandle">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_err_handle (handleCon, handleManagerId, handleDate, 
      handleState, eqDeviceId, eqAddRess,type
      )
    values (#{handleCon,jdbcType=VARCHAR}, #{handleManagerId,jdbcType=INTEGER}, #{handleDate,jdbcType=TIMESTAMP}, 
      #{handleState,jdbcType=INTEGER}, #{eqDeviceId,jdbcType=VARCHAR}, #{eqAddRess,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="i9.defence.platform.model.ErrHandle">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_err_handle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="handleCon != null">
        handleCon,
      </if>
      <if test="handleManagerId != null">
        handleManagerId,
      </if>
      <if test="handleDate != null">
        handleDate,
      </if>
      <if test="handleState != null">
        handleState,
      </if>
      <if test="eqDeviceId != null">
        eqDeviceId,
      </if>
      <if test="eqAddRess != null">
        eqAddRess,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="handleCon != null">
        #{handleCon,jdbcType=VARCHAR},
      </if>
      <if test="handleManagerId != null">
        #{handleManagerId,jdbcType=INTEGER},
      </if>
      <if test="handleDate != null">
        #{handleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="handleState != null">
        #{handleState,jdbcType=INTEGER},
      </if>
      <if test="eqDeviceId != null">
        #{eqDeviceId,jdbcType=VARCHAR},
      </if>
      <if test="eqAddRess != null">
        #{eqAddRess,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
   <select id="countByExample"  resultType="java.lang.Integer">
    select count(*) from t_err_handle
    <if test="_parameter != null">
      <include refid="Query_By_Dto_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_err_handle
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.handleCon != null">
        handleCon = #{record.handleCon,jdbcType=VARCHAR},
      </if>
      <if test="record.handleManagerId != null">
        handleManagerId = #{record.handleManagerId,jdbcType=INTEGER},
      </if>
      <if test="record.handleDate != null">
        handleDate = #{record.handleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.handleState != null">
        handleState = #{record.handleState,jdbcType=INTEGER},
      </if>
      <if test="record.eqDeviceId != null">
        eqDeviceId = #{record.eqDeviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.eqAddRess != null">
        eqAddRess = #{record.eqAddRess,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_err_handle
    set id = #{record.id,jdbcType=INTEGER},
      handleCon = #{record.handleCon,jdbcType=VARCHAR},
      handleManagerId = #{record.handleManagerId,jdbcType=INTEGER},
      handleDate = #{record.handleDate,jdbcType=TIMESTAMP},
      handleState = #{record.handleState,jdbcType=INTEGER},
      eqDeviceId = #{record.eqDeviceId,jdbcType=VARCHAR},
      eqAddRess = #{record.eqAddRess,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="i9.defence.platform.model.ErrHandle">
    update t_err_handle
    <set>
      <if test="handleCon != null">
        handleCon = #{handleCon,jdbcType=VARCHAR},
      </if>
      <if test="handleManagerId != null">
        handleManagerId = #{handleManagerId,jdbcType=INTEGER},
      </if>
      <if test="handleDate != null">
        handleDate = #{handleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="handleState != null">
        handleState = #{handleState,jdbcType=INTEGER},
      </if>
      <if test="eqDeviceId != null">
        eqDeviceId = #{eqDeviceId,jdbcType=VARCHAR},
      </if>
      <if test="eqAddRess != null">
        eqAddRess = #{eqAddRess,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="i9.defence.platform.model.ErrHandle">
    update t_err_handle
    set handleCon = #{handleCon,jdbcType=VARCHAR},
      handleManagerId = #{handleManagerId,jdbcType=INTEGER},
      handleDate = #{handleDate,jdbcType=TIMESTAMP},
      handleState = #{handleState,jdbcType=INTEGER},
      eqDeviceId = #{eqDeviceId,jdbcType=VARCHAR},
      eqAddRess = #{eqAddRess,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByLimitPage" resultMap="BaseResultMap">
        select DISTINCT <include refid="Base_Column_List" /> from t_err_handle
        <if test="_parameter != null" >
          <include refid="Query_By_Dto_Where_Clause" />
        </if>
        <if test="example.orderByClause != null" >
          order by ${example.orderByClause}
        </if>
        limit #{offset},#{limit}
   </select>
   <update id="updateHandleFault" parameterType="java.lang.String">
   		update t_channel_data set dealStatus = 1 where deviceId = #{eqDeviceId} and type = 0
   </update>
   <update id="updateHandlePolice" parameterType="java.lang.String">
   		update t_channel_data set dealStatus = 1 where id in(select id from  v_hiddendanger_channel_data	where (value &gt;= WarningMax or  value &lt;= WarningMin)and deviceId=#{eqDeviceId} and dealStatus = 0)
   </update>
   <update id="updateHandleHidden" parameterType="java.lang.String">
   		update t_channel_data set dealStatus = 1 where id in(select id from  v_hiddendanger_channel_data	where ((value &gt; HiddenMax and value &lt; WarningMax)or(value &lt; HiddenMin and value &gt; WarningMin)) and deviceId=#{eqDeviceId} and dealStatus = 0)
   </update>
</mapper>