<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="i9.defence.platform.dao.mapper.PassagewayMapper">
	<resultMap type="i9.defence.platform.model.Passageway" id="BaseResultMap">
		<id column="channel" jdbcType="INTEGER" property="channel" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="systemId" jdbcType="VARCHAR" property="systemId" />
		<result column="hiddenDangerId" jdbcType="INTEGER" property="hiddenDangerId" />
		<!-- <association property="equipmentCategory" column="categoryId"
			select="i9.defence.platform.dao.mapper.PassagewayMapper.selectPassagewaysByCategoryId"></association> -->
		<association property="hiddenDanger" column="HiddenDangerId"
			select="i9.defence.platform.dao.mapper.HiddenDangerMapper.selectByPrimaryKey"></association>
	</resultMap>

	<sql id="Base_Column_List">
		channel,name,systemId,hiddenDangerId
	</sql>

	<select id="selectPassagewaysBySystemId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_passageway where systemId =#{systemId}
	</select>

	<insert id="addPassageWay" parameterType="java.util.List">
		insert into
		t_passageway(channel,name,systemId,hiddenDangerId)
		values
		<foreach collection="list" item="item" separator=",">(#{item.channel,jdbcType=INTEGER},#{item.name,jdbcType=VARCHAR},#{item.systemId,jdbcType=VARCHAR},#{item.hiddenDangerId,jdbcType=INTEGER}) </foreach>
	</insert>
	
	<delete id="delPassagewayBySystemId" parameterType="java.lang.String">
		delete from t_passageway where systemId = #{systemId}
	</delete>
	
	<select id="selectCountByCatIdAndChannelId" parameterType="i9.defence.platform.model.Passageway" resultType="int">
		select count(*) from t_passageway where systemId = #{systemId} and channel = #{channel}
	</select> 
	
	<delete id="delPassageway" parameterType="i9.defence.platform.model.Passageway">
		delete from t_passageway where systemId = #{systemId} and channel = #{channel}
	</delete>
	<select id="selectChannelsBySystemId" parameterType="string" resultType="int">
		select channel from t_passageway where systemId = #{systemId}
	</select>
	<select id="selectChannelByDeviceId" parameterType="string" resultType="int">
		SELECT
			p.channel 
		FROM
			t_passageway p 
		WHERE
			p.systemId = ( SELECT systemId FROM t_equipment WHERE deviceId = #{deviceId})
	</select>
</mapper>