<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="i9.defence.platform.dao.mapper.PassagewayMapper">
	<resultMap type="i9.defence.platform.model.Passageway" id="BaseResultMap">
		<id column="channel" jdbcType="INTEGER" property="channel" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="systemId" jdbcType="VARCHAR" property="systemId" />
		<result column="hiddenDangerId" jdbcType="INTEGER" property="hiddenDangerId" />
		<association property="equipment" column="equipmentId"
			select="i9.defence.platform.dao.mapper.EquipmentMapper.selectByPrimaryKey"></association>
		<association property="hiddenDanger" column="HiddenDangerId"
			select="i9.defence.platform.dao.mapper.HiddenDangerMapper.selectByPrimaryKey"></association>
	</resultMap>

	<sql id="Base_Column_List">
		channel,name,systemId,hiddenDangerId
	</sql>

	<select id="selectByEquipmentId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_passageway where systemId =#{systemId}
	</select>

	<insert id="addPassageWay" parameterType="java.util.List">
		insert into
		t_passageway(channel,name,systemId,hiddenDangerId)
		values
		<foreach collection="list" item="item" separator=",">(#{channel,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{systemId,jdbcType=VARCHAR},#{hiddenDangerId,jdbcType=INTEGER}) </foreach>
	</insert>
	
	<delete id="delPassagewayBySystemId" parameterType="string">
		delete from t_passageway where systemId = #{systemId}
	</delete>
</mapper>