<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		ng-click="closeBtn()" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">添加管理员</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>用户名</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="name" ng-model="manager.username" placeholder="">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label"><span class="required">*</span>密码</label>
			<div class="col-md-8">
				<input type="password" class="form-control" id="password" ng-model="manager.password" placeholder="">
			</div>
		</div>
		<div class="form-group" style="display: none;">
            <label class="col-md-2 control-label">id</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="id" ng-model="manager.id" placeholder="">
            </div>
        </div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="closeBtn()"
		data-dismiss="modal">取消</button>
	<button type="button" class="btn btn-primary" ng-click="confirmAdd()">确认</button>
</div>
